<%= display_current_user %>
<%= display_logout %>
<%= link_to "My area", users_path %>

<h1>Please login to checkout products</h1>

<%if flash["login_error"] %>
	<p><%= flash["login_error"] %></p>
<% end %>

<%= form_for @user, url: logins_path do |f| %> 
	<div>
		<%= f.label :email %>
		<%= f.text_field :email, placeholder: "myemail.com" %>
	</div>
	<div>
		<%= f.label :password %>
		<%= f.password_field :password, placeholder: "My password" %>
	</div>
	<div>
		<%= f.submit "Login" %>
	</div>
<% end %>

<h2>Or create an account</h2>
<%= flash_message %>

<%= form_for @user do |f| %>
	<div>
		<%= f.label :name %>
		<%= f.text_field :name, placeholder: "John" %>
	</div>
	<div>
		<%= f.label :email %>
		<%= f.text_field :email, placeholder: "super@email.com" %>
	</div>
	<div>
		<%= f.label :password %>
		<%= f.password_field :password %>
	</div>
	<div>
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %>
	</div>
	<div>
		<%= f.submit "Create new user" %>
	</div>
<% end %>

<h2>Available products</h2>
<% @products.each do |product| %>
	<li> 
		<strong><%= product.title %></strong>
		<%= product.description %>
		<%= link_to "Product details", product_path(product) %>
	</li>
<% end %>

