<%= display_current_user %>
<%= display_logout %>
<h1>My area</h1>
	<p>
		<%= "#{@user.name}, #{@user.email}" %>
		<%= link_to "My products", user_products_path(@user) %>
		<%= link_to "Delete", user_path(@user), method: :delete, data: {confirm: "Are you sure?"} %>
	</p>

