<%= display_current_user %>
<%= display_logout %>

<h1>Create a new user</h1>
<%= flash_message %>


<%= form_for @user do |f| %>
	<div>
		<%= f.label :name %>
		<%= f.text_field :name, placeholder: "John" %>
	</div>
	<div>
		<%= f.label :email %>
		<%= f.text_field :email, placeholder: "super@email.com" %>
	</div>
	<div>
		<%= f.label :password %>
		<%= f.password_field :password %>
	</div>
	<div>
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %>
	</div>
	<div>
		<%= f.submit "Create new user" %>
	</div>
<% end %>