<h2><%= @product.title %></h2>
<p><%= @product.description %></p>
<p>
	Bidding Deadline : 
	<%= "#{@product.date.strftime("%b %d, %Y")} at #{@product.time.strftime("%I:%M:%S %p")}" %>
</p>

<%= form_for [@product, @bid] do |f| %> 
	<div>
		<%= f.label :amount %>
		<%= f.text_field :amount, placeholder: "1000000" %>
	</div>
	<div>
		<%= f.submit "Add new bid" %>
	</div>
<% end %>